
<%- include("partials/header"); -%>

<h1>Contact</h1>
<ul style="list-style-type: none;">
    <li>My Email: asmivats15@gmail.com</li>
    <li> <a href="https://www.linkedin.com/in/asmi-vats-a10382250/">My LinkedIn</a></li>
    <li><a href="https://www.instagram.com/vatsasmi/">My Instagram</a></li>
    <li><a href="https://github.com/AsmiVats">My Github</a></li>
</ul>

<%- include("partials/footer"); -%>